<?xml version="1.0" encoding="utf-8"?>

<log4net>
    <appender name="Fluentd" type="Log4net.Appenders.Fluentd.FluentdAppender, Log4net.Appenders.FluentdAsync">
        <Host>${FLUENTD_HOST}</Host>
        <Port>24224</Port>
        <Tag>${FLUENTD_TAG}</Tag>
        <NoDelay>false</NoDelay>
        <ReceiveBufferSize>8192</ReceiveBufferSize>
        <SendBufferSize>8192</SendBufferSize>
        <SendTimeout>1000</SendTimeout>
        <ReceiveTimeout>1000</ReceiveTimeout>
        <LingerEnabled>false</LingerEnabled>
        <LingerTime>10</LingerTime>
        <EmitStackTraceWhenAvailable>true</EmitStackTraceWhenAvailable>
        <IncludeAllProperties>false</IncludeAllProperties>
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern
                    value="%date country::ZA thread::%thread level::%-5level logger::%logger - message::%message exception::%exception%newline" />
        </layout>
    </appender>
    <root>
        <appender-ref ref="Fluentd" />
        <level value="${FLUENTD_LOG_LEVEL}" />
    </root>
</log4net>